body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  /*display: flex;
  flex-direction: column;*/
  
  
  
}
/*.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
*/
img{
  position: relative;
  height: 200px;
  width:299.8px;
}
h1{
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}
.left>img{
 /* display: inline-block;*/
  float: left;
  margin-right: 50px;
  
 
}
.left{
width:500px;
height:292px;
display: inline-block;
margin-right: 10px;
}
.body{
 /* display: inline-block;*/
  margin-left: 50px;
}
.right>img{

 /* display: inline-block;*/ 
  float: left;
  margin-right: 50px;
}
.right{
  display: inline-block;
  width:500px;
height:292px;
margin-right: 100px;
}
footer{
  clear: both;
  text-align: right;
  color: blue;
}
div{
  width:fit-content;
}
h2{
  font-weight: bold;
}
.main>img{
width:200px;
height: 100px;
}
/*.main{
  display: inline-block;
  width: min-content;
}